<div class="_schedule-grid schedule-grid">
  <h4>10:30 am &ndash; 11:15am</h4>
  <div class="_session-grid session-grid">
    <div class="track">
      <a href="#" class="get-off-the-island">Get Off The Island</a>
    </div>
    <div class="title">
      <a href="#">Decoupling Drupal &ndash; Data Engineering To Make Sense Of Unstructured Data Representing A Million Voices For The United Nations</a>
    </div>
    <div class="speaker">
      <span class="speaker-name">Andrew Kobylinski,</span>
      <span class="speaker-handle"><a href="#">andrewkoby</a></span>
    </div>
    <div class="affiliation">
      <span class="affiliation-organization">ReliefWeb,</span>
      <span class="affiliation-title">Communication Officer</span>
    </div>
    <div class="level">
      <span>Level:</span>
      <span>Intermediate</span>
    </div>
    <div class="room">
      <span>Room:</span>
      <span>NLB-5</span>
    </div>
    <div class="add-to-schedule">
      <button class="base--alternate--button">+ add to schedule</button>
    </div>
  </div>
</div>
